:root {
  font-size: 15px;
}

body {
  background-color: beige;
}

.main {
  margin: 0;
  height: 100vh;
  font-size: 0px;
}

.CV1,
.CV2 {
  display: inline-block;
  width: 48%;
  height: 100%;
  font-size: 1rem;
}

.CV1 {
  padding-right: 20px;
}

.CV2 {
  padding-left: 20px;
}

.wrapper-tina,
.wrapper-jack {
  text-align: center;
}

.port1,
.port2 {
  width: 200px;
  height: 230px;
  object-fit: cover;
  object-position: top;
  border: darkslategray 5px solid;
}

.info,
.infojack {
  text-align: right;
  margin: 0px;
}

.work,
.educ {
  margin: 5px;
}

.summaryjack,
.summarytina {
  margin: 5px;
}

.workjack,
.educjack {
  margin: 5px;
}
